h1 {
    font-family: Quicksand, sans-serif;
    font-size: 5em;
    text-align: center;
}

#showblock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

h2 {
    font-family: Quicksand, sans-serif;
    font-size: 1.2rem;
    text-align: center;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input {
    width: 15em;
    height: 3em;
    border-radius: 15%;
    font-size: 24px;
}

button {
    background-color: crimson;
    color: white;
    width: 5em;
    height: 3em;
    font-size: 20px;
    border-radius: 15%;
    transition: 0.8s;
    margin-top: 8px;
    margin-left: 25px;
}

button:hover {
    background-color: white;
    color: crimson;
    cursor: pointer;
}